.box1{
    background-image: url('399967.jpg');
    width: 1100px;
    height: 733px;
    margin: auto;
}
.box2{
    background-color: transparent;
    width: 100px;
    height: 733px;
    margin: auto;
    margin-left: 0px;
    float: left;
    box-shadow: 10px 10px inline rgb(112, 106, 106);
}
.box3{
    background-color: transparent;
    width: 1000px;
    height: 100px;
    margin-top: 30px;
    margin: auto;
    float: left;
}
.table1{
    margin-left: 350px;
    z-index: 10;
    margin-top: 30px;
}
.logo{
    position: absolute;
    margin-left: 100px;
    margin-top: 30px;
}
.box4{
    background-color: rgb(80, 80, 80);
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
}
.box5{
    width: 1000px;
    height: 200px;
    margin: auto;
    float: left;
    background-color: rgb(112, 106, 106);
    margin-top: 143px;
    opacity: 0.7;
    position: relative;
}
.box6{
    background-color: transparent;
    height: 100px;
    width: 200px;
    margin-left: 100px;
    margin-top: 80px;
    float: left;
}
.box7{
    background-color: transparent;
    height: 260px;
    width: 600px;
    float: left;
    margin-top: 30px;
    line-height: normal;
    margin-left: 80px;

    
}
